/* UTILE GENERALE */

.ms--txt-color {
    color: #031b4e;
}

.ms--bg-gray {
    background-color: #f3f5f9;
}

.ms--bg-dark {
    background-color: #010e28;
}

.ms--block-title-1 {
    font-size: 35px;
    font-weight: 700;
}

.ms--block-title-2 {
    font-size: 19px;
    color: #031b4e;
}

.ms--block-title-3 {
    font-size: 19px;
    color: #031b4e;
    font-weight: 700;
}

.ms--block-description-1 {
    color: rgba(3,27,78,.7);
    font-size: 21px;
}

.ms--block-description-2 {
    color: rgba(3,27,78,.7);
    font-size: 16px;
}

.ms--block-description-3 {
    font-size: 17px;
    color: rgba(3,27,78,.75);
    font-weight: 300;
}

.ms--link-style-1 {
    color: #0069ff;
    font-size: 16px;
}

.ms--link-style-1:hover {
    text-decoration: none;
}

.ms--caret-rotate {
    display: inline-block;
    transform: rotate(-90deg);
}

.ms--circle-list {
    height: 14px;
    border-radius: 50%;
    border: 2px solid blue;
}

.ms--circle-list:hover {
    background-color: blue;
}

.ms--img-style {
    height: 40px;
}

.ms--container-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ms--link-hover-1:hover {
    color: #005fe6;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* UTILE GENERALE */


/* COMINCIA HEADER */


.ms--header {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 92px;
}

.navbar-default {
    background-color: white;
    margin-bottom: 0;
    line-height: 50px;
}

.navbar-brand {
    padding: 0;
    padding-top: 5px;
}

.navbar-default .navbar-header .navbar-brand img {
    width: 220px;
    height: 35px;
    object-fit: cover;

}

.navbar-default .navbar-nav > li > a {
    color: #031b4e;
    font-weight: 500;
}

.navbar-default .navbar-nav > li > .ms--btn-signup {
    padding: 8px 13px;
    border-radius: 5px;
    border: 1px solid #0069ff;
    color: #0069ff;
    font-weight: 500;
    font-size: 15px;
    margin-right: 50px;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #0069ff;
}

.navbar-default .navbar-nav > li > .ms--btn-signup:hover {
    color: white;
    background-color: #0069ff;
}



/* FINISCE HEADER */

/* COMINCIA JUMBOTRON */

#jumbotron {

}

.ms--bg-image {
    background: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    padding-top: 152px;
    padding-bottom: 60px;
}

.ms--white-font {
    color: white;
}

#jumbotron .ms--left-block {
    padding-top: 50px;
}

#jumbotron .ms--left-block h1 {
    font-size: 60px;
    padding-bottom: 10px;
    font-weight: 700;
}

#jumbotron .ms--left-block p {
    font-size: 25px;
    opacity: 0.6;
    padding-right: 70px;
}

#jumbotron .ms--right-block h4 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 700;
}

#jumbotron form {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#jumbotron .ms--btn-blue {
    color: white;
    background-color: #0069ff;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}

#jumbotron .ms--btn-blue:hover {
    background-color: #1633ff;
}

#jumbotron .ms--btn-white {
    color: black;
    background-color: white;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #f1f1f1;
}

#jumbotron .ms--btn-white:hover {
    background-color: #d5e4f7;
}

#jumbotron form a {
    text-decoration: underline;
}

#jumbotron form button {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* ONLY USE FOR ALTERNATIVE FORM
.ms--sign-up {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ms--sign-up span {
    padding-left: 10px;
    padding-right: 10px;
    color: #5b6987;
}


.ms--sign-up:before,
.ms--sign-up:after {
    content: '';
    display: inline-block;
    width: 20%;
    height: 1px;
    position: relative;
    bottom: 3px;
    border-radius: 3px;
    background-color: black;
    opacity: 0.2;
}

*/

#jumbotron .ms--right-block input {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #f1f1f1;

}

#jumbotron .ms--right-block input::placeholder {
    color: rgba(3,27,78,.7);
    font-size: 15px;
}

#jumbotron form {
    padding-left: 30px;
    padding-right: 30px;
}

#jumbotron form .btn-general {
    padding: 10px 20px;
}

#jumbotron form .btn-general i {
    padding-right: 30px;
    font-size: 20px;
}

#jumbotron form .btn-general .fa-github {
    color: #99a1b3;
}

#jumbotron form .btn-general .fa-google {
    color: green;
}

#jumbotron form .btn-general span {
    font-weight: 700;
    font-size: 18px;
    padding-right: 15px;
}

#jumbotron .ms--terms {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media all and (max-width: 999px) {
    #jumbotron .ms--left-block h1 {
        font-size: 50px;
    }
}

@media all and (max-width: 874px) {
    #jumbotron .ms--left-block h1 {
        font-size: 40px;
    }
}

@media all and (max-width: 767px) {
    #jumbotron .ms--bg-image {
        background: blue;
    }

    #jumbotron .ms--left-block {
        padding-bottom: 40px;
    }
}

/* FINISCE JUMBOTRON */

/* COMINCIA BUSINESS-SOLUTIONS */

#business-solutions {
    padding-top: 50px;
    padding-bottom: 50px;
}

#business-solutions .ms--title h3 {
    text-transform: uppercase;
    color: #031b4e;
    opacity: 0.4;
    font-size: 15px;
}

#business-solutions img {
    object-fit: contain;
    height: 50px;

}

@media all and (max-width: 767px) {
    #business-solutions img {
        max-width: 100%;
        height: 100px;
    }

    #business-solutions .ms--img-block {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/* FINISCE BUSINESS-SOLUTIONS */

/* COMINCIA DEPLOY */

#deploy {
    padding-top: 80px;
    padding-bottom: 80px;
}


#deploy .ms--block-content {
    padding-top: 60px;
}

#deploy .ms--list-styling {
    list-style: none;

}

#deploy .ms--list-styling li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-left: 2px solid #e5e8ed;
    font-size: 17px;
    color: rgba(3,27,78,.7);

}

#deploy .ms--list-styling li:hover {
    color: #031b4e;
    border-color: #0069ff;
    cursor: pointer;
}
/*
#deploy .ms--right-block h3 {
    font-size: 19px;
}
*/
#deploy .ms--block-spacing {
    padding-bottom: 30px;
}

@media all and (max-width: 767px) {
    #deploy .ms--list-styling {
        padding-bottom: 30px;
    }
}

/* FINISCE DEPLOY */

/* COMINCIA DEVELOPERS */

#developers {
    padding-top: 100px;
    padding-bottom: 100px;
}

#developers .ms--block-description {
    padding-bottom: 40px;
}

#developers .ms--img-block img {
    border-radius: 5px;
}


#developers .ms--img-block p {
    padding-top: 40px;

}

#developers .ms--img-block:hover {
    cursor: pointer;
}

#developers .ms--circle-list li:hover {
    background-color: blue;
}

/* FINISCE DEVELOPERS */

/* COMINCIA BUSINESS */

#business {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

#business h2 {
    padding-bottom: 50px;
}

#business p {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* FINISCE BUSINESS */

/* COMINCIA WORLD */

#world {
    background: url('https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg');
    background-color: #031b4e;
}

#world h2 {
    color: white;
    padding-bottom: 40px;
}

#world ul {
    list-style: none;
}

#world li {
    font-size: 13px;


}

#world li .ms--list-item-row {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    padding-top: 12px;
    padding-bottom: 12px;
}

#world li .ms--list-text-left {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

#world li .ms--list-text-middle {
    opacity: 0.6;
    color: white;
}

#world li .ms--list-text-right {
    color: #00d7d2;
}

#world li .ms--list-text-right:hover {
    color: #0069ff;
    text-decoration: none;
}

/* FINISCE WORLD */

/* COMINCIA DEVELOPMENT */

#development h2 {
    padding-bottom: 30px;
}

#development .ms--link-in-p {
    color: #0069ff;
    text-decoration: underline;
}

#development .ms--link-in-p:hover {
    color: #005fe6;
}

#development .jumbotron {
    background-color: white;
}

#development .jumbotron img {
    max-width: 100%;
    height: 25px;
    object-fit: contain;
}

#development .ms--blockquote {
    border: 0;
    padding-top: 30px;
}

#development .ms--blockquote p {
    font-size: 26px;
    font-weight: 300;
}

#development .ms--blockquote .ms--cite-line1 {
    opacity: 0.8;
    font-size: 16px;
}

#development .ms--blockquote .ms--cite-line2 {
    font-size: 12px;
    color: rgba(3,27,78,.7);
    padding-bottom: 20px;
}

#developement .jumbotron:hover {
    cursor: grab;
}

/* FINISCE DEVELOPMENT */

/* COMINCIA GET-STARTED-NOW */

#get-started-now {
    background: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');

}

#get-started-now .ms--padding-2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#get-started-now h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

#get-started-now .ms--btn-create {
    border-radius: 5px;
    border: 1px solid #0069ff;
    color: #0069ff;
    font-size: 16px;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#get-started-now .ms--btn-create:hover {
    background-color: hsla(0,0%,100%,.8);
}
/* FINISCE GET-STARTED-NOW */

/* COMINCIA LINK-GROUPS */

#ms--footer .ms--link-group {
    padding-bottom: 40px;
}

#ms--footer ul {
    list-style: none;
}

#ms--footer .ms--list-title {
    color: white;
    padding-bottom: 10px;
}

#ms--footer ul li a {
    text-decoration: none;
    color: #6d7583;
}

#ms--footer ul li a:hover {
    color: white;
}

#ms--footer ul li:nth-child(1n+2) {
    padding-bottom: 7px;
}

#ms--footer .ms--link-group {
    border-bottom: 1px solid #6d7583;
}

#ms--footer .ms--footer-bottom {
    color: #6d7583;
    line-height: 80px;
}

#ms--footer .ms--left-side img {
    height: 90px;
}

#ms--footer .ms--right-side i {
    font-size: 20px;
}

#ms--footer .ms--right-side a {
    color: #6d7583;
    padding-right: 10px;
}

#ms--footer .ms--right-side a:hover {
    color: white;
}


/* FINISCE LINK-GROUPS */
